flask
pymysql
pocketflow 
mysql
mysql-connector-python
dotenv
flask-cors 
google.generativeai 
langchain-chroma
bs4
requests
pandas
config 
urllib3
pypdf
python-docx
langchain-text-splitters
langchain-core
google 
google_auth_oauthlib
chromadb
google-genai
gunicorn
gevent