#hover-chart {
  position: absolute;
  z-index: 99999 !important;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 250px !important;
  height: 180px !important;
  display: block !important;
}

.rc-slider-311 {
  padding-bottom: 60px !important;
}

.rc-slider {
  height: 10px !important;
  padding: 0 !important;
  z-index: 1000 !important;
  position: relative !important;
  overflow: visible !important;
}



.rc-slider-311 {
  width: calc(100vw - 80px) !important; /* Adds 40px padding on both sides */
  margin-left: 40px !important;
  margin-right: 40px !important;
  padding: 0 !important;
  position: relative !important;
  overflow: visible !important;
  background-color: black;
}


.rc-slider-311 .rc-slider-handle {
  height: 30px !important;
  width: 4px !important;
  background-color: #ff69b4 !important;
  border-radius: 2px !important;
  margin-top: -48px !important; !important;
  z-index: 1000 !important;
  position: relative !important;
}

.rc-slider-311 .rc-slider-handle::before {
  content: "";
  position: absolute;
  /* top: -550px; */
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 2px;
  background-color: #ff69b4;
  z-index: 9999;
}

.rc-slider-311 .rc-slider-track,
.rc-slider-311 .rc-slider-rail {
  background-color: transparent !important;
}
/* Style the slider tooltip (number bubble above handle) */
.rc-slider-tooltip,
.rc-slider-tooltip .rc-slider-tooltip-inner {
  transform: translateY(-50px) !important;
  margin-top: 0 !important;
  background-color: #444 !important;
  color: white !important;
  font-size: 10px !important;
  border-radius: 4px !important;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3) !important;
  z-index: 99999 !important;
}

#temporal-chart,
.js-plotly-plot {
  overflow: visible !important;
}


.rc-slider-handle {
  height: 50px !important;
  width: 10px !important;
  background-color: #6a5acd !important;
  border-radius: 0 !important;
  border: none !important;
  margin-top: -24px !important;
  cursor: ew-resize !important;
  opacity: 1 !important;
  z-index: 1000 !important;
}

.rc-slider-track,
.rc-slider-rail {
  background-color: transparent !important;
}

body {
  background-color: black !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

html {
  background-color: black !important;
}
